<%= stylesheet_link_tag "users/users.css" %>
<%= javascript_include_tag "users/index.js" %>
<h1>ユーザ検索</h1>
<section class="search-condition">
  <p>検索条件</p>
  <input type="text" size="10" placeholder="名前" />
  <input class="btn-search size-mid" type="button" value="検索" />
</section>


<div id="test">

</div>