<%= stylesheet_link_tag "users/users.css" %>
<%= javascript_include_tag "users/user_search.js" %>
<%= javascript_include_tag "users/load.js" %>

<section id="user-search">
  <h1>ユーザ検索</h1>
  <div class="search-condition">
    <p>検索条件</p>
    <input class="txt-search" type="text" size="10" placeholder="名前" />
    <input class="btn-search size-mid" type="button" value="検索" />
  </div>

  <h1>検索結果</h1>
  <div class="search-results">
    <ul></ul>
  </div>


</section>